footer.bg-white.rounded-lg.shadow(class='dark:bg-gray-800')
  .w-full.p-4(class='md:flex md:items-center md:justify-between')
    span.text-sm.text-gray-500(class='sm:text-center dark:text-gray-400')
      | &copy; 2023 
      a(href='https://flowbite.com/' class='hover:underline') John doe&trade;
      | . Tout droit reservées.
    ul.flex.flex-wrap.items-center.mt-3.text-sm.font-medium.text-gray-500(class='dark:text-gray-400 sm:mt-0')
      li
        a.mr-4(href='#' class='hover:underline md:mr-6') A propos
      li
        a.mr-4(href='#' class='hover:underline md:mr-6') Mentions Légales
      li
        a.mr-4(href='#' class='hover:underline md:mr-6') License d'exploitation
      li
        a(href='#' class='hover:underline') Contact
