extends layout
block content
    div.flex.flex-col.h-full.justify-center.items-center
        div.bg-white.shadow-xl.p-4.w-96.rounded-xl.border-purple-400.border-2
            h1.text-red-800 Bienvenue sur Mon Blog
            p 🚀 Plonge dans l'univers infini du code avec moi ! Sur ce blog dédié à la programmation, je t'invite à explorer les méandres du langage binaire, à décoder les mystères du code source, et à naviguer à travers les vastes océans des langages de programmation.